@import url('https://fonts.googleapis.com/css?family=Lato');

body{
    background-color: #f2f2f2;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
*{
    outline: 1px solid lime;
}

#header{
    background-color: #2d303a;
    color: white;
    height: 90px;
    border-bottom: 6px solid #33394c;
}

.nav{
    max-width:950px;
    margin: auto;
    display: grid;
    grid-template-columns: 200px auto;
}

.logo{
    margin-top: 35px;
    font-size: 1.4rem;
}

.links{
    text-align: right;
    margin-top: 40px;
    font-size: 0.75rem;
    color: #4b4e61;
        
}

.links a{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    
}
.salmon{
    color: #f06c64;
}

#banner{
    text-align: center;
    background: #f06c64;
}

#banner img{
    width: 90%;
    max-width: 780px;
}

#services{
    height: 494px;
    border-bottom: 6px solid white;
    color: #666d89;
}

.heading{ 
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    margin top: 40px;
    font-size: 30px;
    
}
.text{
     margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 950px;
    font-size: 18px;
    
}
.points{
     margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    max-width: 950px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}
.icon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr
}
.icon img{
    grid-column: 1/2;
    margin: auto;
    
}
.icon h1{
    grid-column: 2/5;
    font-size: 18px;
    margin: 0px
}
.icon p{
    grid-column: 2/5;
    font-size: 12px;
}

#portfolio{
  height: 864px;
    border-bottom: 6px solid #323746;
    background-color: #2d303a;
    color: #666d89;
    padding-top: 50px
   
    
      
}
.title{
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    font-size: 30px;
    
}
.about{
     margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 950px;
    font-size: 18px;
}

.colage{
    text-align: center;
    margin: 50px
        
}

#about{
    height: 730px;
       
}

.people{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}