@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

</style>

html {
                scroll-behavior: smooth;
                
            }

body{
    background-color: lavender;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}

.title{
    font-family: 'Oswald', sans-serif;
    width: 50px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
    color: darkslategrey;
}

.title a{
    color: gainsboro;
    text-decoration: none;
}

.header{
    background-color: cornflowerblue;
    height: 150px;
    
}

.image{
    height: 75px;
    text-align: center;
    margin: 20px;
    
    
}

.cap{
    max-height: 100%
}

#group{ 
    max-width:1000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    
    
}
.location{
    max-width: 1000px;
    border: 50px;
}

.text{
    margin-top: auto;
    margin-bottom: auto;
     
}

.text p{
    font-size: 25px;
}
.team{
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 350px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.product{
    text-align: center;
    margin-top:10px;
    font-size: 20px;
    
}



.product img{
    max-width: 400px;
    max-height 400px;
}

.inquiry{
    text-decoration: none;
    color: black;
    font-size: 22px;
}
