@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

html {
                scroll-behavior: smooth;
                
            }

body{
    background-color: lavender;
    margin: 0;
    font-family: 'Lato', sans-serif;
    
}

.title{
    font-family: 'Oswald', sans-serif;
    width: 50px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
    color: darkslategrey;
}

.title a{
    color: gainsboro;
    text-decoration: none;
}

.header{
    background-color: cornflowerblue;
    height: 150px;
    
}

.image{
    height: 75px;
    text-align: center;
    margin: 20px;
    
    
}

#group{ 
    max-width:1000;
    margin-left: auto;
    margin-right: auto
    
}
.location{
    max-width: 1000px;
    border: 50px;
}

.text{
    margin-top: 20px; 
}

.text p{
    font-size: 25px;
}
.team{
    margin: 20px;
    max-height: 250px;
    max-width: 460px;
}

